<div class="container">
    <h1>My Blog</h1>
    <a href="/posts/new"><button type="button">Create a Post</button></a>
    <% @users.each do |user| %>
        <a href="/users<%= user.id %>">
            <%= render partial: "/shared/user", locals: { user: user } %>
        </a>
    <% end %>
</div>

