<div class="user">
    <div class="user-image">
        <img src="<%= user.Photo %>" alt="user-photo">
    </div>
    <div class="user-detail">
        <p class="user-name"><%= user.Name %></p>
        <p class="post-no">Number of posts: <%= 0 || user.PostsCounter %></p>
    </div>
</div>