<div class="user">
    <div class="user-image">
        <img src="<%= user.photo %>" alt="user-photo">
    </div>
    <div class="user-detail">
        <p class="user-name"><%= user.name %></p>
        <p class="post-no">Number of posts: <%= user.posts_counter || 0 %></p>
    </div>
</div>