/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: Helvetica, Geneva, Arial, sans-serif;
  font-size: small;
  color: #000;
  background-color: #fff;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.a:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

.container {
  width: 70%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  padding: 1em 3em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.user-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.user-name {
  font-size: 2em;
  font-weight: bold;
  padding: 0 5em;
}

.post-no {
  font-size: 1em;
  align-self: flex-end;
}

.user-bio {
  margin: 10px 0;
  padding: 1em 3em;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.5em;
}

h5 {
  font-size: 0.8em;
}

.user-posts {
  margin: 10px 0;
  padding: 0.5em 2em;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post {
  margin: 10px 0;
  padding: 1em 3em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.post p,
.post-body {
  font-size: 1.5em;
}

.post ul,
.post-head ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2em;
}

button,
.btn {
  padding: 0.5em 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}

.post-with-comments {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em 0.5em;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.comments {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em 0.5em;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.comment {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2em;
  margin: 0;
}

.post-detail {
  margin: 10px 0;
  padding: 0.5em 2em;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2em;
}

.post-head h5 {
  font-size: 1.5em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
  margin: 10px 0;
  padding: 0.5em 2em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  font-size: 1.5em;
  margin: 0 1em;
}

input {
  padding: 0.5em 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.5em;
  width: 70%;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2em;
  margin: 1em 0;
}

textarea {
  padding: 0.5em 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.5em;
}

.btn {
  align-self: flex-end;
}

.alert {
  padding: 0.5em 1em;
  color: red;
  font-size: 1em;
}

.like-form form {
  border: none;
  padding: 0;
}

.like-form input {
  padding: 0.5em 5em;
}

.nav button {
  width: 5em;
  align-self: flex-end;
}

.nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#user_remember_me {
  width: 2em;
}
